@import '~bootstrap/scss/bootstrap';

input {
    display:block;
    margin: 5px;
}
h3 {
    margin: 30px;
}
#auth-display {
    margin:10px;
}
#sign-display {
    margin:10px;
}
#password-form {
    float:right;
}

.btn {
    margin:20px;
}
h1 {
    font-weight: 300;
    text-align: center;
}
h2{
    text-align:center;
    margin:40px;
}
.container {
    align-content: center;
}
.col-md-4 {
    border:black ;
    border-width: 10px;
}